@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to left,#D38312,#A83279) ;
} 

nav {
    top: 0px;
    height: 4rem;
    width: 100%;
    background: #ffb6b9;
    position: fixed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
    display: flex;
}
.Logo_container{

}
.Logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 10px;
}
.nav-center {
    margin-left: 30px;
    max-width: 620px;
    display: flex;
}
.nav-center h1{
    margin: auto;
    margin-top: 8px;
    color: #063251;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1.5px;
    font-size: 45px;
    cursor: pointer;
}

.nav_links {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 8px;
}

.nav_links ul {
    display: flex;
}

.nav_links ul li {
    list-style: none;
    font-family:"Roboto",sans-serif ;
    font-size: 32px;
    display: inline-block;
    padding: 0 20px;
}

.nav_links ul li a {
    text-decoration: none;
}

main {
    align-items: center;
    justify-content: center;
}
.descAndInp{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 20vh;
    display: flex;

}
.description{
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size:25px;
}
.inputText{
    width: 200px;
    height: 30px;
}
.Prod_input{
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-left: 5px;
    background: transparent;
    color: black;
    border-radius: 0.25rem;
    margin-top: 5px;
}
::placeholder{
    color: #222;
}
.btn-container{
    justify-content: center;
    align-items: center;
    margin-left: 45%;
}
.btn-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: transparent;
    color: #fff;
    letter-spacing: 0.2rem;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn-hero:hover{
    color: #fff;
    background: #222;
}

.output{
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 50px auto 0;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
}
.output_heading{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    
}
.output h2 {
    text-align: center;
}
.Prod_filter_output{
    display: flex;
    margin-top: 50px;
}
.Filters{
    font-family: Raleway;
    font-size: 20px;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 00.25rem;
    margin-left: 20px;
    height: 260px;
    width: 200px;
    background-color: red;
    background: linear-gradient(to left, #f875aa,#fbaccc,#f1d1d0) ; 
    color: #b34180;
    border-style: groove;
    border-color: tomato;
    box-shadow: tomato;
}

.Filter_price{
    padding-top: 2px;
    padding-left: 5px;
    font-size: 30px;
}
.FilterP_itbmin{
    margin-top: 10px;
    margin-left: 15px;
}
.tb1{
    height: 30px;
    width: 160px;
    border-radius: 00.25rem;
    background-color: transparent;
    border-color: tomato;
}
.FilterP_itbmax{
    margin-top: 10px;
    margin-left: 15px;
}
.tb2{
    height: 30px;
    width: 160px;
    border-radius: 00.25rem;
    background-color: transparent;
    border-color: tomato;
}

.Fsort_asc{
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
}
.FilterP_cba{
    margin-top: 7px;
}
.FilterP_la{
    margin-left: 10px;
}
.Fsort_dsc{
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
}
.FilterP_cbd{
    margin-top: 7px;
}
.FilterP_ld{
    margin-left: 10px;
}
.Prod_output {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: Source Serif Pro;
    background-color: crimson;
    height: 500px;
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    border-style:groove; 
    border-color: yellow;
    border-radius: 00.25rem;
}
.Prod_display{
    margin: auto;
    width: 800px;
    height: 300px;
    display: flex;
    background-color: red;
}
.Prod_photo{
    margin-top: 60px;
    margin-left: 50px;
    width: 180px;
    height: 200px;
    background-color: white;

}
.Prod_photosize{
    height : 200px; 
    width : 200px;
}
.Prod_details{
    width: 500px;
    height: 200px;
    margin-top: 60px;
    background-color: hotpink;
}
.Prod_name{
    margin-left: 40px;
    width: 500px;
    height: 66px;
    background-color: gold;
    padding-top: 20px;
}
.Prod_price{
    margin-left: 40px;
    width: 500px;
    height: 67px;
    background-color: blueviolet;
    padding-top: 20px;
}
.Prod_link{
    margin-left: 40px;
    width: 500px;
    height: 67px;
    background-color: blanchedalmond;
    padding-top: 20px;
}